@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Proxima Nova;
  src: url(../public/fonts/Proxima-Nova-Rg-Regular.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Proxima Nova;
  src: url(../public/fonts/Proxima-Nova-Semibold.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Proxima Nova;
  src: url(../public/fonts/Proxima-Nova-Bold.otf);
  font-style: normal;
  font-weight: 900;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Proxima Nova';
  font-weight: 400;
  scroll-behavior: smooth;

}

a {
  @apply text-blue-600 hover:text-blue-800;
}

* {
  box-sizing: border-box;
}

.card {
  @apply min-w-[200px] px-[10px] py-[12px] mx-[0px] my-[15px] block rounded-[25px] border border-azul-fondo shadow-lg relative hover:shadow-xl;
}

.primary-button {
  @apply rounded bg-azul-fondo py-2 px-4 shadow outline-none hover:bg-azul-hover  active:bg-azul-activo;
}

input, select, textarea{
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

.default-button {
  @apply rounded bg-gray-100 py-2  px-4 text-black shadow outline-none hover:bg-gray-200  active:bg-gray-300;
}
.dropdown-link {
  @apply flex p-2 hover:bg-gray-200 text-black;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}
